*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #222;
}

.section-center {
  padding: 1.5rem 2rem;
  border-radius: 10px;
  max-width: 500px;
  margin: 2rem auto;
  background-color: transparent;
}

.section-center h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
}

.alert {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: red;
}

.alert-success {
  background: transparent;
}

.alert-error {
  background: transparent;
}
